/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: #E8E8E8 url("../img/stripes.png") 50% 137px no-repeat;
}

.content{
	max-width: 841px;
	padding: 167px 0px 137px;
	margin: 0px auto;
}

.content-top{
	text-align: center;
	margin-bottom: 63px;
}

.content-top-subtitle{
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #273D46;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	opacity: 0.6;
	margin-bottom: 15px;
}

.content-top-title{
	font-size: 36px;
	line-height: 50px;
	color: #273D46;
	max-width: 725px;
	margin: 0px auto;
}

.content-picture{
	max-width: 841px;
	max-height: 561px;
	background-color: #FFFFFF;
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	padding: 10px;
}

.content-picture img{
	max-width: 100%;
}

.content-bottom{
	margin-top: 85px;
	padding: 0 45px;
}

.content-bottom-maintext{
	font-size: 24px;
	color: #273D46;
	line-height: 40px;
	opacity: 0.8;
	margin-bottom: 42px;
}

.content-bottom-maintext p{
	margin-bottom: 40px;
}

.content-bottom-maintext p:last-child{
	margin-bottom: 0;
}

.content-bottom-checklist{
	margin-top: 50px;
}

.content-bottom-checklist li{
	font-size: 20px;
	font-family: Arial, sans-serif;
	margin-bottom: 12px;
}

.content-bottom-checklist li:before{
	content: url("../img/icons/check\ icon.png");
	margin-right: 9px;
	vertical-align: -2px;
}


.content-bottom-checklist li:nth-child(1){
	color: #273D46;
	text-shadow: 0 1px 0 rgdb(0, 0, 0, 0.3);
}

.content-bottom-checklist li:nth-child(2){
	color: #80B7B3;
	font-style: italic;
}

.content-bottom-checklist li:nth-child(3){
	color: #273D46;
	font-weight: bold;
}

.content-bottom-checklist li:nth-child(4) span{
	color: #273D46;
	opacity: 0.3;
	text-decoration: line-through;
}

.content-bottom-checklist li:last-child(){
	margin-bottom: 0;
}

.content-bottom-button{
	margin-top: 48px;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;

	height: 44px;
	background-color: #80B7B3;
	letter-spacing: 2.8px;
	line-height: 44px;
	padding: 0px 30px;
	box-shadow: 0 6px 40px rgba(128, 183, 170, 0.54);
	border-radius: 24px;
}

.content-bottom-button span:after{
	content: url("../img/icons/arrow.svg");
	margin-left: 9px;
	vertical-align: -2px;
}